body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    height: 2px;
    background-color: black;
}


#board {
    width: 90vw;         
    max-width: 450px;
    height: auto;   
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.tile {
    width: calc(33.33% - 4px);
    aspect-ratio: 1 / 1;  
    font-size: 8vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.winner {
    background-color: lightgray;
    color: red;
}


.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

#restart{
    margin-top: 30px;
    /* padding: 10px 20px; */
    border-radius: 4px;
    width: 10%;
    /* border: none; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 5%;
    width: 40%;
}

@media (max-width: 400px) {
    hr {
        width: 80vw;
    }
    #restart {
        font-size: 6vw;
        width: 60%;
    }
}
