body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 600px;
}
#title{
    font-size: 36px;
    font-weight: bold;
    /* letter-spacing: 1px; */
}
#board{
    width: 350px;
    height: 420px;
    /* background-color: blueviolet; */
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* for each box in the board */
.tile{
    /* for box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* for text in the box */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for answer if it would correct or not like that*/

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}
.present{
    background-color: #C98458;
    color: white;
    border-color: white;
}
.absent{
    background-color: #787C7E;
    color: white;
    border-color: white;
}
